.ant-layout-content {
  color: #fff;
  min-height: 80vh;
}

.ant-layout-header {
  background: #fff
}

.ant-layout-footer {
  background: #fff
}

.file {
  width: 60%;
  display: block;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.ant-list-bordered {
  background: #fff;
}

.calendar{
  width: 60%;
  display: block;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.ant-fullcalendar-fullscreen{
  background: #fff;
}

.login{
  width: 60%;
  display: block;
  margin: auto;
  padding-top: 80px;
}

.signup{
  width: 60%;
  display: block;
  margin: auto;
  padding-top: 80px;
}

.discuss {
  width: 60%;
  display: block;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.voicecommand {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    height: 50px;
    width: 50px;
    font-size: 32px;
}

.add {
  width: 60%;
  display: block;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
